blogcard {
    --background: #fff;
    --cardShadow: rgba(32, 33, 37, .1);
    --cardShadowHover: rgba(32, 33, 37, .06);
    --cardShadowActive: rgba(32, 33, 37, .55);
    --cardBorder: #dbdce0;
    --cardBorderActive: #1a73e8;
    --textColor: #202125;
    --linkColor: #1967d2;
    --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 45%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 65%; 
    }
}

.blogcard {
    width: 250px;
    height: 350px;
    aspect-ratio: 2/3;
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow .5s, transform .5s;
    border-radius: 8px;
    display: inline-block;
}

.blogcard:hover {
    transform: translate(-2px, -4px);
    box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.blogcard:active {
    transform: translate(-2px, -4px);
    border: 2px solid var(--cardBorderActive);
    box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.blogcard>.icon,
.blogcard>.title,
.blogcard>.description {
    margin-bottom: 0.7em;
    cursor: default;
    user-select: none;
}

.blogcard>.title {
    margin-top: 1.6em;
    font-size: 16px;
    font-weight: bold;
}

.blogcard>.description {
    line-height: 2em;
    font-size: 13px;
    min-height: 6em;
}

.blogcard>.icon {
    font-size: 3em;
    margin-bottom: .2em;
}

.blogcard>.link {
    margin-bottom: 1rem;
    color: var(--linkColor);
    font-size: .8em;
    font-weight: 600;
}

/* Optional ~ Link the whole card */
.blogcard>.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blogcard>.link:after {
    content: "↗";
    display: inline-block;
    margin-left: .3em;
    transition: transform .3s ease-in-out;
}

.blogcard:hover>.link:after {
    transform: translate(.2em, -.2em);
}

@media screen and (max-width: 1600px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 30%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 50%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 70%; 
    }
    
    .blogcard {
        width: 210px;
        height: 300px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 16px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 13px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.8em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 1400px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:45%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:45%; 
        left: 50%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:45%; 
        left: 75%; 
    }

    .blogcard {
        width: 190px;
        height: 270px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 14px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 11px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.8em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 1200px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 50%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 75%; 
    }

    .blogcard {
        width: 170px;
        height: 250px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 11px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 10px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.5em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 1000px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 50%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 75%; 
    }

    .blogcard {
        width: 140px;
        height: 240px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 10px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 9px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.5em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 800px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 55%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:50%; 
        left: 85%; 
    }

    .blogcard {
        width: 120px;
        height: 220px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 10px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 9px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.5em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 700px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 27%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 55%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 83%; 
    }

    .blogcard {
        width: 100px;
        height: 200px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 9px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 8px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.2em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 600px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 54%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 83%; 
    }

    .blogcard {
        width: 95px;
        height: 220px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 9.5px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 7px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 2.2em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 520px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 54%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 83%; 
    }

    .blogcard {
        width: 75px;
        height: 220px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 7.5px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 8px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 1.8em;
        margin-bottom: .2em;
    }
}

@media screen and (max-width: 450px) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 54%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 83%; 
    }

    .blogcard {
        width: 60px;
        height: 220px;
        aspect-ratio: 2/3;
        background: var(--background);
        color: var(--textColor);
        border: 1px solid var(--cardBorder);
        padding: 25px;
        box-shadow: 8px 8px 0 var(--cardShadow);
        transition: box-shadow .5s, transform .5s;
        border-radius: 8px;
        display: inline-block;
    }

    .blogcard>.title {
        margin-top: 1.6em;
        font-size: 7.5px;
        font-weight: bold;
    }
    
    .blogcard>.description {
        line-height: 2em;
        font-size: 6px;
        min-height: 6em;
    }
    
    .blogcard>.icon {
        font-size: 1.8em;
        margin-bottom: .2em;
    }
}