a.btn_24 {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 120px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #27acd9;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 900px) {
    a.btn_24 {
        display: block;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        width: 60px;
        margin: auto;
        padding: 1rem 4rem;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #27acd9;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 0.2s ease-in;
    }
}

@media screen and (max-width: 750px) {
    a.btn_24 {
        display: block;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        width: 40px;
        margin: auto;
        padding: 1rem 4rem;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #27acd9;
        color: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 0.2s ease-in;
    }
}

@media screen and (max-width: 680px) {
    a.btn_24 {
        display: block;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        width: 20px;
        margin: auto;
        padding: 1rem 2rem;
        font-weight: bold;
        border-radius: 4px;
        border: 1px solid #27acd9;
        color: #ffffff;
        z-index: 1;
        transition: all 0.2s ease-in;
    }
}


a.btn_24:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

a.btn_24:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #d9c727;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

a.btn_24:hover {
    color: #ffffff;
    border: 1px solid #7f7941;
}

a.btn_24:hover:before {
    top: -35%;
    background-color: #b0a439;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

a.btn_24:hover:after {
    top: -45%;
    background-color: #d9c727;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}