.workcard1 {
    top: 35%; left: 20%;
    width: 280px;
    height: 340px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.workcard2 {
    top: 35%; left: 40%;
    width: 280px;
    height: 340px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.workcard3 {
    top: 35%; left: 60%;
    width: 280px;
    height: 340px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
}

.title {
    font-size: 20px;
}

.details {
    font-size: 12px;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

img {
    width: 220px; 
    height: 130px;
} 

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

@media screen and (max-width: 1600px){
    .workcard1 {
        top: 42%; left: 20%;
        width: 260px;
        height: 320px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 42%; left: 40%;
        width: 260px;
        height: 320px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 42%; left: 60%;
        width: 260px;
        height: 320px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 20px;
    }
    
    .details {
        font-size: 12px;
    }

    img {
        width: 220px; 
        height: 130px;
    }    
}

@media screen and (max-width: 1300px){
    .workcard1 {
        top: 46%; left: 20%;
        width: 220px;
        height: 300px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }

    .workcard2 {
        top: 46%; left: 40%;
        width: 220px;
        height: 300px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 46%; left: 60%;
        width: 220px;
        height: 300px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 18px;
    }
    
    .details {
        font-size: 12px;
    }

    img {
        width: 180px; 
        height: 120px;
    }  
}

@media screen and (max-width: 1100px){
    .workcard1 {
        top: 50%; left: 20%;
        width: 190px;
        height: 290px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 50%; left: 45%;
        width: 190px;
        height: 290px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 50%; left: 70%;
        width: 190px;
        height: 290px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }

    .title {
        font-size: 18px;
    }
    
    .details {
        font-size: 12px;
    }

    img {
        width: 170px; 
        height: 110px;
    }  
}

@media screen and (max-width: 800px){
    .workcard1 {
        top: 50%; left: 23%;
        width: 160px;
        height: 270px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 50%; left: 48%;
        width: 160px;
        height: 270px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 50%; left: 73%;
        width: 160px;
        height: 270px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 150px; 
        height: 110px;
    }  
}

@media screen and (max-width: 700px){
    .workcard1 {
        top: 40%; left: 26%;
        width: 180px;
        height: 250px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 40%; left: 53%;
        width: 180px;
        height: 250px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 40%; left: 80%;
        width: 180px;
        height: 250px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 150px; 
        height: 110px;
    }  
}

@media screen and (max-width: 670px){
    .workcard1 {
        top: 40%; left: 20%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 40%; left: 50%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 40%; left: 80%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 150px; 
        height: 110px;
    }  
}

@media screen and (max-width: 600px){
    .workcard1 {
        top: 40%; left: 18%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 40%; left: 49%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        top: 40%; left: 80%;
        width: 170px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 150px; 
        height: 110px;
    }  
}

@media screen and (max-width: 550px){
    .workcard1 {
        top: 40%; left: 30%;
        width: 160px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 40%; left: 70%;
        width: 160px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        display: none;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 140px; 
        height: 110px;
    }  
}


@media screen and (max-width: 550px){
    .workcard1 {
        top: 40%; left: 25%;
        width: 160px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard2 {
        top: 40%; left: 75%;
        width: 160px;
        height: 265px;
        margin: 0 auto;
        background-color: #011522;
        border-radius: 8px;
        z-index: 1;
    }
    
    .workcard3 {
        display: none;
    }
    
    .title {
        font-size: 17px;
    }
    
    .details {
        font-size: 10px;
    }

    img {
        width: 140px; 
        height: 110px;
    }  
}