blogcard {
    --background: #fff;
    --cardShadow: rgba(32, 33, 37, .1);
    --cardShadowHover: rgba(32, 33, 37, .06);
    --cardShadowActive: rgba(32, 33, 37, .55);
    --cardBorder: #dbdce0;
    --cardBorderActive: #1a73e8;
    --textColor: #202125;
    --linkColor: #1967d2;
}

@media (prefers-color-scheme: dark) {
    .blogcard1 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 25%; 
    }
    .blogcard2 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 45%; 
    }
    .blogcard3 {
        --background: #3c4043;
        --cardShadow: rgba(0, 0, 0, .28);
        --cardShadowHover: rgba(0, 0, 0, .16);
        --cardShadowActive: rgba(0, 0, 0, .55);
        --cardBorder: #202125;
        --cardBorderActive: #8ab4f8;
        --textColor: #e9eaee;
        --linkColor: #8ab4f8;
        top:40%; 
        left: 65%; 
    }
}

.blogcard {
    width: 250px;
    height: 350px;
    aspect-ratio: 2/3;
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow .5s, transform .5s;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
}

.blogcard:hover {
    transform: translate(-2px, -4px);
    box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.blogcard:active {
    transform: translate(-2px, -4px);
    border: 2px solid var(--cardBorderActive);
    box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.blogcard>.icon,
.blogcard>.title,
.blogcard>.description {
    margin-bottom: 0.7em;
    cursor: default;
    user-select: none;
}

.blogcard>.title {
    margin-top: 1.6em;
    font-size: 16px;
    font-weight: bold;
}

.blogcard>.description {
    line-height: 2em;
    font-size: 13px;
    min-height: 6em;
}

.blogcard>.icon {
    font-size: 3em;
    margin-bottom: .2em;
}

.blogcard>.link {
    margin-bottom: 1rem;
    color: var(--linkColor);
    font-size: .8em;
    font-weight: 600;
}

/* Optional ~ Link the whole card */
.blogcard>.link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blogcard>.link:after {
    content: "↗";
    display: inline-block;
    margin-left: .3em;
    transition: transform .3s ease-in-out;
}

.blogcard:hover>.link:after {
    transform: translate(.2em, -.2em);
}