.MVP {
    background-color: white;
    margin-top: 0px;
}

.MVP-title {
    margin: auto;
    display: block;
    width: 400px;
}

.MVP-warapper {
    display: block;
    unicode-bidi: isolate;
}

.MVPArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 570px) {
    .MVP-title {
        margin: auto;
        display: block;
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .MVP-title {
        margin: auto;
        display: block;
        width: 250px;
    }
}