.MVP {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.MVP .MVP-warapper {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.MVP .mvp-title {
    width: 400px;
    height: 200px;
}

@media (max-width: 700px) {
    .MVP {
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    
    .MVP .MVP-warapper {
        background-color: white;
        align-items: center;
        justify-content: center;
    }

    .MVP .mvp-title {
        width: 300px;
        height: 200px;
    }
}